<nav class="navbar">
  <!-- Logo -->
  <div class="navbar-logo">
    <img src="img/Logo-entrevistapro.PNG" alt="Logo de la empresa" />
  </div>

  <!-- Navegacion -->
  <ul class="navbar-menu" style="padding-right: 100px;">
    <li><a routerLink="/inicio">Inicio</a></li>
    <li><a routerLink="/cursos">Cursos</a></li>
    <li><a routerLink="/sesiones">Sesiones de Preparación</a></li>
    <button>Ingresar a tu cuenta</button>
  </ul>

  <!-- Perfil -->
  <div class="navbar-profile">
    <img src="img/perfil.png" alt="Perfil del usuario" />
  </div>
</nav>
