<script src="https://code.iconify.design/iconify-icon/1.0.8/iconify-icon.min.js"></script>
<nav>
  <div class="sidebar-wrapper">
    <div class="sidebar-strip" [class.hidden]="isExpanded">
      <button id="toggle" (click)="toggleSidebar()">
        <i [class]="isExpanded ? 'fi-rr-arrow-left' : 'fi-rr-menu-burger'"></i>
      </button>
    </div>
    <aside [class.expanded]="isExpanded">
      <div class="toggle-container">
        <button id="toggle-sidebar" (click)="toggleSidebar()">
          <i [class]="isExpanded ? 'fi-rr-arrow-left' : 'fi-rr-menu-burger'"></i>
        </button>
      </div>

      <div class="link">
        <ul>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i>
              <!-- Inicio -->
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 9.5L12 3L21 9.5V20C21 20.8284 20.3284 21.5 19.5 21.5H4.5C3.67157 21.5 3 20.8284 3 20V9.5Z"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M9 21.5V14.5H15V21.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </i>
            <label routerLink="/home">Inicio</label>
          </li>

          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i>
              <!-- Catálogo -->
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 4H10V10H4V4Z" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M14 4H20V10H14V4Z" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M4 14H10V20H4V14Z" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M14 14H20V20H14V14Z" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </i>
            <label routerLink="/cursos">Catálogo</label>
          </li>

          <li *ngIf="isLoggedIn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i>
              <!-- Cursos en progreso -->
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 2L2 7L12 12L22 7L12 2Z" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M2 17L12 22L22 17" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M2 12L12 17L22 12" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </i>
            <label routerLink="/cursos-en-progreso">Cursos en progreso</label>
          </li>

          <li *ngIf="isLoggedIn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i>
              <!-- Simulaciones -->
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 12H21M12 3V21" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M7 7L17 17" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </i>
            <label routerLink="/simulaciones">Simulaciones</label>
          </li>

          <li *ngIf="isLoggedIn" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i>
              <!-- Agendar Sesiones -->
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M19 4H5C3.895 4 3 4.895 3 6V20C3 21.105 3.895 22 5 22H19C20.105 22 21 21.105 21 20V6C21 4.895 20.105 4 19 4Z"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16 2V6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M8 2V6" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M3 10H21" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </i>
            <label routerLink="/agendar-sesiones">Agendar Sesiones</label>
          </li>

          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i>
              <!-- Sobre Nosotros -->
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3431 6 9 7.34315 9 9C9 10.6569 10.3431 12 12 12Z"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3 21V19C3 16.7909 4.79086 15 7 15H17C19.2091 15 21 16.7909 21 19V21" stroke="currentColor"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </i>
            <label routerLink="/about-us">Sobre Nosotros</label>
          </li>

          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i>

              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <!-- Círculo que representa la figura de un usuario -->
                <path
                  d="M12 12C13.6569 12 15 10.6569 15 9C15 7.34315 13.6569 6 12 6C10.3431 6 9 7.34315 9 9C9 10.6569 10.3431 12 12 12Z"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />

                <!-- Línea que representa el cuerpo (como un perfil o usuario con línea de inicio) -->
                <path d="M3 21V19C3 16.7909 4.79086 15 7 15H17C19.2091 15 21 16.7909 21 19V21" stroke="currentColor"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />

                <!-- Flecha apuntando hacia la derecha, representando el inicio de sesión -->
                <path d="M17 11L21 7L17 3" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>


            </i>
            <label routerLink="/auth/login">Iniciar Sesion</label>
          </li>
        </ul>
      </div>
      <div class="nav-links">
      <div class="nav-links" *ngIf="isLoggedIn">
        <div class="user">
          <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i>
                <!-- Perfil -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </i>
              <label routerLink="/perfil">Perfil</label>
            </li>

            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <i>
                <!-- Settings -->
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M12 15.5C13.933 15.5 15.5 13.933 15.5 12C15.5 10.067 13.933 8.5 12 8.5C10.067 8.5 8.5 10.067 8.5 12C8.5 13.933 10.067 15.5 12 15.5Z"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M19.4 15A1.65 1.65 0 0 0 21 13.6L21 10.4A1.65 1.65 0 0 0 19.4 9L17.75 7.24A1.65 1.65 0 0 0 16.1 6.6L13.6 3H10.4L7.9 6.6A1.65 1.65 0 0 0 6.25 7.24L4.6 9A1.65 1.65 0 0 0 3 10.4L3 13.6A1.65 1.65 0 0 0 4.6 15L6.25 16.76A1.65 1.65 0 0 0 7.9 17.4L10.4 21H13.6L16.1 17.4A1.65 1.65 0 0 0 17.75 16.76L19.4 15Z"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </i>
              <label routerLink="/auth/login">Cerrar Sesion</label>
            </li>
          </ul>
        </div>
      </div>
    </aside>
    <div class="overlay" (click)="toggleSidebar()"></div>
  </div>
</nav>
