<div class="auth form-container">
  <svg style="display: none;">
    <symbol id="icon-email" viewBox="0 0 24 24">
      <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
      <polyline points="22,6 12,13 2,6"></polyline>
    </symbol>
    <symbol id="icon-password" viewBox="0 0 24 24">
      <path d="M12 2a3 3 0 0 0-3 3v4H6v10h12V9h-3V5a3 3 0 0 0-3-3z"></path>
    </symbol>
    <symbol id="icon-arrow" viewBox="0 0 24 24">
      <path d="M5 12h14"></path>
      <polyline points="12 5 19 12 12 19"></polyline>
    </symbol>
  </svg>
  <div class="login-form">
    <div class="form-header">
      <img src="img/logo.jpg" class="logo-card" alt="Logo de EntrevistaPro">
      <h2>Inicia sesión en EntrevistaPro</h2>
      <p>Accede a tu cuenta para continuar</p>
    </div>

    <form [formGroup]="loginGroup" class="form-content" role="form" aria-labelledby="form-header">
      <div class="input-row">
        <div class="input-field">
          <label for="correo" id="correo-label">
            <svg class="input-icon"><use href="#icon-email"></use></svg>
            Correo Electrónico
          </label>
          <input type="email" id="correo" formControlName="correo" placeholder="tu@correo.com" required aria-labelledby="correo-label" aria-describedby="correo-error">
          <span class="error-message" id="correo-error" *ngIf="loginGroup.get('correo')?.invalid && loginGroup.get('correo')?.touched">
            Por favor, ingresa un correo válido
          </span>
        </div>
        <div class="input-field">
          <label for="contrasena" id="contrasena-label">
            <svg class="input-icon"><use href="#icon-password"></use></svg>
            Contraseña
          </label>
          <input type="password" id="contrasena" formControlName="contrasena" placeholder="Ingresa tu contraseña" required aria-labelledby="contrasena-label" aria-describedby="contrasena-error">
          <span class="error-message" id="contrasena-error" *ngIf="loginGroup.get('contrasena')?.invalid && loginGroup.get('contrasena')?.touched">
            Por favor, ingresa una contraseña válida
          </span>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit"  routerLink="/verify" class="action-btn" [disabled]="loginGroup.invalid">
          Iniciar Sesión
          <svg class="button-icon"><use href="#icon-arrow"></use></svg>
        </button>
        <a class="router-link" routerLink="/auth/register">¿No tienes cuenta? Regístrate</a>
      </div>
    </form>
  </div>
</div>
