<body>
    <div class="container">
        <div class="content">
            <a href="#" class="back-link">&larr; Regresar a "Iniciar Sesión"</a>
            <h1>Verifica tu código</h1>
            <p>Un código de autenticación ha sido enviado a tu correo electrónico.</p>
            <label for="code">Ingresar Código</label>
            <input type="text" id="code" name="code" placeholder="">
            <a href="#" class="resend-link">¿No recibiste un código? <span>Reenviar</span></a>
            <button class="verify-btn">Verificar</button>
            <p class="footer-text">Prepárate para destacar: practica, mejora y domina tus entrevistas con <span>EntrevistaPro.</span></p>
        </div>
        <div class="image-section">
            <img src="img/verificar-img.jpg" alt="Ilustración de una persona trabajando en una computadora">
        </div>
    </div>
</body>
