/* Ajustes específicos para el componente */
.form-field input[type="number"] {
  width: 100%;
}

.container {
  max-width: 1600px;
  margin: 2rem auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.table td {
  word-break: break-word;
}

@media (max-width: 768px) {
  .table th:nth-child(2),
  .table td:nth-child(2) {
    display: none; /* Ocultar descripción en pantallas pequeñas */
  }
}