
.btn{
  background-color: #317daf !important;
  font-weight: bold !important;
  color: white !important;
  transition: background-color 0.3s ease, filter 0.3s ease !important;
}
.btn:hover {

  background-color: #5cb0e7 !important;
  color: rgb(226, 225, 225) !important;

}
:root {
  font-family: 'Poppins', sans-serif;

}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
