<app-navbar></app-navbar>
<main>
  <div class="divImgP">
    <img src="img/lgo3.png" alt="Equipo EntrevistaPro" class="visual-img" />
  </div>
  <section class="hero">
    <div class="hero-container">
      <div class="hero-intro">
        <h1>¿Estás buscando prepararte para tus entrevistas de la mejor forma?</h1>
        <p>Prepárate para destacar, práctica, mejora y domina tus habilidades blandas en las entrevistas con
          <strong>EntrevistaPro</strong>.
        </p>
        <div class="search-bar">
          <button class="search-btn">Buscar cursos
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
              stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </button>
          <input type="text" placeholder="Ingresa tu curso preferido">
        </div>
        <div class="search-bar"><button class="search-btn" routerLink="/cursos">Ver catalogo de cursos</button></div>
        <div class="search-bar"><button class="search-btn" routerLink="/agendar-reunion">Agendar una reunion</button>
        </div>
      </div>
      <div class="dedication">
        <h2>¿A qué nos dedicamos?</h2>
        <p>EntrevistaPro es tu plataforma afín para fortalecer tus habilidades blandas y prepararte para entrevistas con
          seguridad y eficacia.</p>
        <ul>
          <li>Simula entrevistas, recibe retroalimentación personalizada y mejora tus competencias comunicativas
            <svg class="inline-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
          </li>
          <li>Tu manejo emocional y tu capacidad para generar empatía, todo con el apoyo de entrenadores especializados
            <svg class="inline-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
          </li>
          <li>Inteligencia emocional para tu primera entrevista o si estás buscando ser un profesional. EntrevistaPro te
            ayuda a destacar con confianza, claridad y autenticidad
            <svg class="inline-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <polyline points="20 6 9 17 4 12"></polyline>
            </svg>
          </li>
        </ul>
        <div class="stats">
          <p><strong>500+ beneficiados</strong></p>
          <p><strong>200+ pruebas</strong></p>
        </div>
      </div>
    </div>
  </section>

  <section class="features">
    <div class="feature-card">
      <img src="img/crear-cuenta.png" alt="Account Icon" class="feature-icon">
      <p>Crea una cuenta</p>
    </div>
    <div class="feature-card">
      <img src="img/cursos-icono.png" alt="Course Icon" class="feature-icon">
      <p>Busca tu curso favorito</p>
    </div>
    <div class="feature-card">
      <img src="img/skills-icono.png" alt="Skills Icon" class="feature-icon">
      <p>Mejora tus habilidades</p>
    </div>
  </section>

  <section class="categorias">
    <h2>Escoge entre diferentes categorías</h2>
    <div class="categorias-container">
      <div class="categoria-card"><img src="img/Diseño.jpg" alt="Diseño" /><span>Diseño</span></div>
      <div class="categoria-card"><img src="img/Programacion.jpg" alt="Programacion" /><span>Programacion</span>
      </div>
      <div class="categoria-card"><img src="img/Modeladotecnico.jpg" alt="Modelado Técnico" /><span>Modelado Técnico</span>
      </div>
      <div class="categoria-card"><img src="img/Ofimatica.jpg" alt="Ofimática" /><span>Ofimática</span></div>
      <div class="categoria-card"><img src="img/Idiomas.jpg" alt="Idiomas" /><span>Idiomas</span></div>
      <div class="categoria-card"><img src="img/HabilidadesBlandas.jpg" alt="Habilidades Blandas" /><span>Habilidades
          Blandas</span></div>
    </div>
  </section>
</main>
<app-footer></app-footer>
